section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-grid-tile {
    border: 1px solid lightblue;
    width: 100%;
}

::ng-deep mat-grid-tile.mat-grid-tile .mat-figure {
    align-items: initial;
    justify-content: initial;
}

mat-grid-list {
    width: 80%;
}