<div class="access-permit">
    <fieldset>
        <legend>Arstotzka</legend>
        <div class="header">Access Permit</div>
        <div class="content">
            <ul>
                <li>
                    <div class="title">Name</div>
                    <div class="content">{{permit.getName()}}</div>
                </li>
                <li>
                    <div class="title">Id</div>
                    <div class="content">{{permit.getId()}}</div>
                </li>
                <li>
                    <div class="title">Nation</div>
                    <div class="content">{{permit.getNation()}}</div>
                </li>
                <li>
                    <div class="title">Purpose</div>
                    <div class="content">{{permit.getPurpose()}}</div>
                </li>
                <li>
                    <div class="title">Duration</div>
                    <div class="content">{{permit.getDuration()}}</div>
                </li>
                <li>
                    <div class="title">Height</div>
                    <div class="content">{{permit.getHeight()}}</div>
                </li>
                <li>
                    <div class="title">Weight</div>
                    <div class="content">{{permit.getWeight()}}</div>
                </li>
            </ul>
        </div>
        <img class="seal" src="assets/seal2.png" />
    </fieldset>
</div>