<article class="access-permit">
    <fieldset>
        <legend>{{permit.getNation()}}</legend>
        <section class="header">Access Permit</section>
        <section class="content">
            <ul>
                <li>
                    <h5>Name</h5>
                    <p>{{permit.getName()}}</p>
                </li>
                <li>
                    <h5>Id</h5>
                    <p>{{permit.getId()}}</p>
                </li>
                <li>
                    <h5>Nation</h5>
                    <p>{{permit.getNation()}}</p>
                </li>
                <li>
                    <h5>Purpose</h5>
                    <p>{{permit.getPurpose()}}</p>
                </li>
                <li>
                    <h5>Duration</h5>
                    <p>{{permit.getDuration()}}</p>
                </li>
                <li class="double-li">
                    <div>
                        <h5>Height</h5>
                        <p>{{permit.getHeight()}}</p>
                    </div>
                    <div>
                        <h5>Weight</h5>
                        <p>{{permit.getWeight()}}</p>
                    </div>
                </li>
                <li>
                    <h5>Expires</h5>
                    <p>{{permit.getExpirationDate() | date}}</p>
                </li>
            </ul>
        </section>
        <img class="seal" src="assets/seal2.png" />
    </fieldset>
</article>