<div class="access-permit">
    <fieldset>
        <legend>Arstotzka</legend>
        <div class="header">Access Permit</div>
        <div class="content">
            <ul>
                <li>
                    <div class="title">Name</div>
                    <div class="content">David Cergizan</div>
                </li>
                <li>
                    <div class="title">Passport Id</div>
                    <div class="content">G7FAN-L9DSJ</div>
                </li>
                <li>
                    <div class="title">Purpose</div>
                    <div class="content">TRANSIT</div>
                </li>
                <li>
                    <div class="title">Duration</div>
                    <div class="content">14 Days</div>
                </li>
                <li>
                    <div class="title">Height</div>
                    <div class="content">180cm</div>
                </li>
                <li>
                    <div class="title">Weight</div>
                    <div class="content">90kg</div>
                </li>
            </ul>
        </div>
        <img class="seal" src="assets/seal2.png" />
    </fieldset>
</div>