
<h2>Create a new player</h2>
<section>
    <form [formGroup]="userForm" class="user-form" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Player Name</mat-label>
            <input matInput placeholder="Player Name" required formControlName="name" id="name" />
        </mat-form-field>
        <button type="submit" mat-flat-button color="primary">Create Player</button>
        <p *ngIf="userForm.touched && !userForm.valid">
            Player name is required.
        </p>
    </form>
</section>
