.passport {
    width: 215px;
    height: 300px;
    background-color: antiquewhite;
    border: darkred 5px solid;
    border-radius: 3px;
    box-shadow: 2px 2px 0px #333333;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    hr {
        width: 100%;
        margin: 0;
    }

    .top {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .visa {
            position: relative;
            width: 120px;
            height: 70px;
            border: 2px darkgoldenrod dotted;
            &::after {
                position:absolute;
                left: 25px;
                bottom: -20px;
                content: 'ENTRY VISA';
                color: darkgoldenrod;
            }
            .denied {
                width: 110px;
            }
            .approved {
                width: 130px;
                transform: rotate(45deg);
                margin-top: -20px;
            }
        }
    }

    .bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;

        .left {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 10px;

            svg {
                border: 1px gray solid;
            }
            .id {
                font-size: 12px;
            }
        }
        .right {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                li {
                    margin-bottom: 2px;
                }
            }
            .title {
                font-weight: bold;
            }
            .content {
                margin-top: -5px;
                white-space: nowrap;
            }
        }
    }
}