<div class="certificate-of-vaccination">
    <fieldset>
        <div class="header">
            Certificate<br />
            <span class="small">-of-</span><br />
            Vaccination
        </div>
        <div class="content">
            <div class="main-text">Karl Calise</div>
            <div class="main-text">ID#: PWBB5-FAB3V</div>
            <hr />
            <table>
                <tr>
                    <th>DATE</th>
                    <th>VACCINE</th>
                </tr>
                <tr>
                    <td>22.02.82</td>
                    <td>POLIO</td>
                </tr>
                <tr>
                    <td>23.02.82</td>
                    <td>YEL.FEV</td>
                </tr>
                <tr>
                    <td>25.02.82</td>
                    <td>CHOLERA</td>
                </tr>
            </table>
            <div class="disclaimer">Max Valid for 3 years</div>
        </div>
        <img class="seal" src="assets/seal1.png" />
    </fieldset>
</div>