<article class="certificate-of-vaccination">
    <fieldset>
        <section class="header">
            Certificate<br />
            <span class="small">-of-</span><br />
            Vaccination
        </section>
        <section class="content">
            <p class="main-text">{{certificate.getName()}}</p>
            <p class="main-text">ID#: {{certificate.getId()}}</p>
            <hr />
            <table>
                <tr>
                    <th>VACCINE</th>
                </tr>
                <tr *ngFor="let vaccine of vaccines">
                    <td>{{vaccine}}</td>
                </tr>
            </table>
            <p class="disclaimer">Max Valid for 3 years</p>
        </section>
        <img class="seal" src="./assets/seal1.png" />
    </fieldset>
</article>