<div class="certificate-of-vaccination">
    <fieldset>
        <div class="header">
            Certificate<br />
            <span class="small">-of-</span><br />
            Vaccination
        </div>
        <div class="content">
            <div class="main-text">{{certificate.getName()}}</div>
            <div class="main-text">ID#: {{certificate.getId()}}</div>
            <hr />
            <table>
                <tr>
                    <th>VACCINE</th>
                </tr>
                <tr *ngFor="let vaccine of vaccines">
                    <td>{{vaccine}}</td>
                </tr>
            </table>
            <div class="disclaimer">Max Valid for 3 years</div>
        </div>
        <img class="seal" src="assets/seal1.png" />
    </fieldset>
</div>