svg {
    width: 100px;
    fill: white;
    stroke: black;
    stroke-width: 1;
    stroke-linecap: round;
}

.clock-marks {
    stroke-width: 0.5;
    transform: translate(20px, 20px);
}

.clock-marks > line:nth-child(1) {
    transform: rotate(30deg);
    stroke: red;
}
.clock-marks > line:nth-child(2) {
    transform: rotate(calc(2 * 30deg));
}
.clock-marks > line:nth-child(3) {
    transform: rotate(calc(3 * 30deg));
    stroke-width: 0.5;
}
.clock-marks > line:nth-child(4) {
    transform: rotate(calc(4 * 30deg));
}
.clock-marks > line:nth-child(5) {
    transform: rotate(calc(5 * 30deg));
    stroke: green;
}
.clock-marks > line:nth-child(6) {
    transform: rotate(calc(6 * 30deg));
    stroke-width: 0.5;
}
.clock-marks > line:nth-child(7) {
    transform: rotate(calc(7 * 30deg));
}
.clock-marks > line:nth-child(8) {
    transform: rotate(calc(8 * 30deg));
}
.clock-marks > line:nth-child(9) {
    transform: rotate(calc(9 * 30deg));
    stroke-width: 0.5;
}
.clock-marks > line:nth-child(10) {
    transform: rotate(calc(10 * 30deg));
}
.clock-marks > line:nth-child(11) {
    transform: rotate(calc(11 * 30deg));
}
.clock-marks > line:nth-child(12) {
    transform: rotate(calc(12 * 30deg));
    stroke-width: 0.5;
}
