.list-item {
    display: flex;
    align-items: center;
}

::ng-deep .mat-list-base .mat-list-item .mat-list-text, ::ng-deep .mat-list-base .mat-list-option .mat-list-text {
    flex-direction: row;
}

.icon-button {
    margin-left: 50px !important;
    transform: scale(70%);
    opacity: 0.8;
    &:hover {
        opacity: 1;
    }
}