<div class="diplomatic-authorization">
    <div class="border-wrapper">
        <div class="header">
            Diplomatic<br />
            Authorization
        </div>
        <div class="content">
            Agent: <div class="main-text">Karl Calise</div>
            ID#: <div class="main-text">PWBB5-FAB3V</div>
            Unconditional access to all named members must be granted upon presentation.
            <p>IMPOR, ARSTOTZKA, ANTEGRIA, OBRISTAN</p>
            <div class="disclaimer">This document has no expiry.</div>
        </div>
    </div>
</div>