<article class="diplomatic-authorization">
    <div class="border-wrapper">
        <section class="header">
            Diplomatic<br />
            Authorization
        </section>
        <section class="content">
            Agent: <p class="main-text">{{authorization.getName()}}</p>
            ID#: <p class="main-text">{{authorization.getId()}}</p>
            Nation: <p class="main-text">{{authorization.getNation()}}</p>
            Unconditional access to all named members must be granted upon presentation.
            <p class="access">{{access.join(', ')}}</p>
            <p class="disclaimer">This document has no expiry.</p>
        </section>
    </div>
</article>