:host {
    width: 100%;
    border-left: 10px #4d3f39 solid;
}

.table {
    display: flex;
    align-items: center;
    align-self: center;
    height: 100%;
    width: 100%;
    background-color: #75584a;
    justify-content: space-evenly;
}

.papers {
    width: 100%;
    height: 100%;
    & > * {
        position: absolute;
        user-select: none;
        cursor: pointer;
    }
}
