<section class="window">
    <img class="entrant" [hidden]="!isEntrantVisible" src="/assets/immigrant.png" />
</section>
<section class="buttonwrapper" (click)="detain()">
    <img class="redbutton" src="assets/redbutton.png" />
    <p>Detain</p>
    <article
        class="bulletin"
        [style.visibility]="shouldShowBulletin ? 'visible' : 'hidden'"
        (mousedown)="onImgMouseDown($event)"
        draggable="true"
        id="bulletin"
    >
        Bulletin
    </article>
</section>
<section class="table" #dropzone>
    <img
        class="paper"
        (mousedown)="onImgMouseDown($event)"
        *ngFor="let paper of entrantPapers"
        [id]="paper.id"
        draggable="true"
        [style.width]="paper.width"
        [src]="paper.src"
        [class.touched]="touched"
    />
</section>
