:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: lightblue;
}
.window {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    background-color: lightblue;
}

.table {
    display: flex;
    align-items: center;
    align-self: center;
    height: 50%;
    background-color: #8B4513;
    width: 98%;
    justify-content: space-evenly;
}

.entrant {
    width: 42%;
}