:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: lightblue;
}
.window {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    background-color: lightblue;

    p {
        position: absolute;
        top: 20px;
        background: #f9f2f0;
        padding: 9px;
        border: white 1px solid;
        border-radius: 12px;
        font-style: italic;
        font-size: 20px;

        &::before {
            content: "";
            position: absolute;
            right: -23px;
            bottom: -1px;
            width: 27px;
            height: 20px;
            background-color: #f9f2f0;
            border: 1px #f9f2f0 solid;
        }
        &::after {
            content: "";
            position: absolute;
            right: -24px;
            bottom: 0px;
            width: 20px;
            height: 20px;
            background-color: lightblue;
            border: 1px lightblue solid;
            border-bottom-left-radius: 30px;
        }
    }
}

.table {
    display: flex;
    align-items: center;
    align-self: center;
    height: 50%;
    background-color: #8b4513;
    width: 98%;
    justify-content: space-evenly;
}

.entrant {
    width: 240px;
}

img.paper {
    cursor: pointer;
    &:not(.touched) {
        animation-duration: 1s;
        animation-name: slideinpaper;
    }
}

@keyframes slideinpaper {
    from {
        margin-bottom: 40%;
    }

    to {
        margin-bottom: 0%;
    }
}

.buttonwrapper {
    position: absolute;
    bottom: 0px;
    left: 45%;
    .redbutton {
        cursor: pointer;
        position: absolute;
        width: 60px;
        bottom: 0px;
        opacity: 0.7;
    }
    >p {
        cursor: pointer;
        position: absolute;
        bottom: 20px;
        left: 8px;
    }
    .bulletin {
        cursor: pointer;
        width: 120px;
        height: 35px;
        background-color: palegoldenrod;
        position: relative;
        left: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        transform: scaleY(1.3);
        text-decoration: underline;
        font-style: italic;
        border-radius: 3px;
    }
}

@media screen and (max-width: 1000px) {
    .buttonwrapper .bulletin {
        width: 85px;
        height: 30px;
        font-size: 16px;
    }
}

@media screen and (min-width: 1001px) {
    .buttonwrapper .bulletin {
        width: 120px;
        height: 35px;
        font-size: 18px;
    }
}