<div class="window">
    <img class="entrant" src="/assets/immigrant.png" />
</div>
<div class="table">
    <img style="width: 90px" src="/assets/passport.png" />
    <img style="width: 100px" src="/assets/idcard.jpg" />
    <img style="width: 80px" src="/assets/permit.png" />
    <img style="width: 110px" src="/assets/workpass.png" />
    <img style="width: 80px" src="/assets/grant.png" />
    <img style="width: 80px" src="/assets/certificate.png" />
    <img style="width: 50px" src="/assets/diplomatic.png" />
</div>
