.work-pass {
    min-width: 150px;
    width: 150px;
    height: 250px;
    background-color: gainsboro;

    fieldset {
        border: 5px groove;
        height: 225px;
        font-style: italic;
    }

    .header {
        font-size: 25px;
        font-style: normal;
        font-weight: bold;
        text-align: center;
        font-family: monaco;
        background-color: lightgray;   
    }
    
    .content {
        margin-top: 20px;
        font-style: normal;
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                margin-bottom: 2px;
            }
        }
        h5 {
            font-weight: bold;
        }
        p {
            margin-top: -5px;
        }
    }
    
    .seal {
        width: 100px;
        transform: rotate(-20deg) translateX(30px);
    }
}