<div class="work-pass">
    <fieldset>
        <legend>Ministry of Labor</legend>
        <div class="header">Work Pass</div>
        <div class="content">
            <ul>
                <li>
                    <div class="title">Name</div>
                    <div class="content">Kreps Roberta</div>
                </li>
                <li>
                    <div class="title">Height</div>
                    <div class="content">171cm</div>
                </li>
                <li>
                    <div class="title">Weight</div>
                    <div class="content">58kg</div>
                </li>
                <li>
                    <div class="title">Nation</div>
                    <div class="content">Arstotzka</div>
                </li>
            </ul>
        </div>
        <img class="seal" src="assets/seal1.png" />
    </fieldset>
</div>