<article class="work-pass">
    <fieldset>
        <legend>Ministry of Labor</legend>
        <section class="header">Work Pass</section>
        <section class="content">
            <ul>
                <li>
                    <h5>Name</h5>
                    <p>{{data.getName()}}</p>
                </li>
                <li>
                    <h5>Nation</h5>
                    <p>{{data.getNation()}}</p>
                </li>
            </ul>
        </section>
        <img class="seal" src="assets/seal1.png" />
    </fieldset>
</article>